/*----------------
      fonts
----------------*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:wght@300&family=Oswald&family=Poppins:wght@500;600&family=Quicksand&family=Roboto&display=swap');
*---------------
   common styles
---------------*/
body{
    font-family: 'Poppins', sans-serif;    
}
/*----------------
   header part
----------------*/
header{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.header-part{
    display:flex;
    border-radius: 30px;  
    padding-left: 70px;
    margin-bottom: 100px;
    color: #FFFFFF;
    background-color: #161616;
}
.header-part-description{
    padding-right: 35px;
}
.header-part-description h1{
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 15px;
}
.header-part-description p{
    font-weight: 400;
    font-size: 16px;  
    margin-bottom: 30px;

}
.header-part-description button{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 16px 25px;
    border-radius: 10px;
    gap: 10px;
    background-color: rgb(63, 131, 247);
    margin-bottom: 58px;
}
.header-part-imgage{  
    max-width: 100%;
    margin-top: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
}
.header-part-imgage img{
    max-width: 100%;
}
/*----------------
    main part common
-----------------*/
main{
    margin-left: 100px;
    margin-right: 100px;
}
.tournament-details{
    display: flex;
    margin-bottom: 100px;
}
/*-----------------
  menu bar part 
------------------*/
.menu{
    padding: 0px 20px 5px 20px;
    background-color: #161616;
    margin-right: 20px;
    border-radius: 10px;   
}
.Upcoming-Match{
    padding: 6px 15px;
    font-weight: 600;   
    border-radius: 10px; 
    color: #FFFFFF;
    background-color: rgb(63, 131, 247);
}
.All-Group{
    padding: 6px 37px;
    font-weight: 600;  
    border-radius: 10px; 
    background-color: #FFFFFF;
}
.Blog{
    padding: 6px 52px;
    font-weight: 600;   
    border-radius: 10px; 
    background-color: #FFFFFF;
}
/*--------------------------
     match schedul part 
----------------------------*/
.match-schedule{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.individual-match{
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
}
.flag{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flag p{
    font-weight: 700;
    font-size: 16px;
    color: #161616;
    padding-left: 15px;
    padding-right: 15px;
    
}
.country-name p{
    font-weight: 600;
    font-size: 20px;
    color: #161616;
    text-align: center;
}
.match-date p{
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
    text-align: center;
}
/*----------------------
       footer 
-----------------------*/
footer{
    background-color: #161616;
    padding: 50px;
}
.footer-heading{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}
.footer-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin-right: 70px;
    margin-left: 70px;
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
}
.socail-media-icon {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.fa-brands{
    color: #FFFFFF;
}
.fa-brands.fa-youtube{
    padding-left: 20px;
    padding-right: 20px;
}
/*-------------------
     media query
--------------------*/
/*------------------
   mobile devices
-------------------*/
@media only screen and (max-width:767px){
    body{
        width: 100%;
    }
    header{
        margin-top: 40px;
        margin-left: 5px;
        margin-right: 0px;
        width: 100%;
    }
    .header-part{
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .header-part-description{
        padding-right: 0px;
        text-align: center;
    }
    .header-part-imgage{
        padding-right: 0px;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Upcoming-Match{
        padding: 12px 20px;
        font-weight: 700;
        font-size: 24px;
    }
    .All-Group{
        padding: 12px 45px;
        font-weight: 700;
        font-size: 24px;
    }
    .Blog{
        padding: 12px 55px;
        font-weight: 700;
        font-size: 24px;
    }
    main{
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
    }
    .menu{
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-right: 0px;
        padding: 0px;
    }
    .menu p{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .tournament-details{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .match-schedule{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 15px;
        margin-right: 20px;
        justify-content: center;
    }
    .footer-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    
}
/* ----------------
   tab devices 
------------------*/
@media only screen and (min-width:768px) and (max-width:1023px){
    header{
        margin-left: 30px;
        margin-right: 30px;
    }
    .header-part{
        padding-left: 20px;
        margin-bottom: 30px;
    }
    .header-part-imgage{
        margin-left: 0px;
        margin-right: 5px;
        margin-top: 100px;
        width: 100%;
    }
    .menu{
        display: flex;
        justify-content: space-around;
        background-color: #FFFFFF;
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .Upcoming-Match{
        padding: 12px 20px;
        font-weight: 700;
        font-size: 24px;
    }
    .All-Group{
        padding: 12px 45px;
        font-weight: 700;
        font-size: 24px;
    }
    .Blog{
        padding: 12px 55px;
        font-weight: 700;
        font-size: 24px;
    }
    main{
        margin-left: 30px;
        margin-right: 30px;
    }
    .tournament-details{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .match-schedule{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 15px;
    }
    .footer-details{
        justify-content: center;
    }
    .footer-description{
        padding-left: 20px;
    }
}
/*-----------------------
    desktop devices
------------------------*/
@media only screen and (min-width:1024px) {
    .header-part-description{
        max-width: 50%;
    }
    .menu{
        width: 252px;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flag img{
        width: 40%;
    }
}

